nav {
    background-color: #0C356A;
    overflow: hidden;
    align-items: center;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}


nav a:hover {
    background-color: #25518a;
    color: white;
    transition: 0.5s;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf2dd;
}