<!-- views/admin_property.ejs -->
<% const title='Dashboard' ; %>
    <%- include('header_admin.ejs', { title: title}) %>
        <div id="panel" class="container mt-5">
            <h1 class="text-center mb-5">Welcome to the Admin Dashboard</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Manage Landlords</h2>
                            <button class="btn btn-primary" onclick="location.href='admin/landlord/add'">Add</button>
                            <button class="btn btn-info" onclick="location.href='admin/landlord'">Show
                                List</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Manage Properties</h2>
                            <button class="btn btn-primary" onclick="location.href='admin/property/add'">Add</button>
                            <button class="btn btn-info" onclick="location.href='admin/property'">Show
                                List</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Manage Tenants</h2>
                            <button class="btn btn-primary" onclick="location.href='admin/tenant/add'">Add</button>
                            <button class="btn btn-info" onclick="location.href='admin/tenant'">Show
                                List</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">Manage Leases</h2>
                            <button class="btn btn-primary" onclick="location.href='admin/lease/add'">Add</button>
                            <button class="btn btn-info" onclick="location.href='admin/lease'">Show
                                List</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>

        </html>