body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
}

.Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 0px;
   
}




.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0px;
    background-color: #ddb8b8;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.contact-form form {
    width: 100%;
    
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    border: 0px;
    width: 100%;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: #AA7767;
    color: #faf2f2;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #bd7a66;
}
