.container_8 {
    background-image: url('../img/background.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.first-div {
    font-size: 30px;
    margin-bottom: 20px;
}

.appartment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 0px;
    background-color: #ddb8b8;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.appartment-form form {
    width: 100%;
}

.appartment-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.appartment-form select,
.appartment-form input[type="date"],
.appartment-form input[type="number"],
.appartment-form button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 15px;
    border: 0px;
    width: 100%;
}

.appartment-form button {
    background-color: #AA7767;
    color: #faf2f2;
    cursor: pointer;
    transition: background-color 0.3s;
}

.appartment-form button:hover {
    background-color: #bd7a66;
}