


/* Apply styles to the form container */
.appartmentForm {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
}

/* Style the labels */
label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

/* Style the select element */
select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the input fields */
input[type="date"],
input[type="number"] {
    width: 95%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the search button */
button[type="submit"] {
    background-color: coral;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Add some hover effect to the button */
button[type="submit"]:hover {
    background-color: #ef5d27;
}


/*Us section*/
.us{
    overflow: hidden;
    margin-block-end:100px;
}
.heading h1{
    color:#ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.us-content{
    flex:1;
    width: 600px;
    margin:0px 50px;
}

.us-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.us-content p{
    font-size: 24px;
    margin-block-end: 30px;
}
.us-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
}
.us-content button:hover{
   background-color: #ff6347; 
   transform: scale(1.1);
}
.us-image{
    flex:1;
    width: 600px;
    margin:auto;
}