<!-- views/admin_view.ejs -->

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/add_page.css">
    <title>Add Property</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/admin">Dashboard</a>
                    <a href="../landlord">Landlords</a>
                    <a href="../property">Properties</a>
                    <a href="../tenant">Tenants</a>
                    <button onclick="location.href='/home'">Logout</button>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Property Information</h2>
        <form action="/admin/property/create" method="post">
            <label for="Address">Adress:</label>
            <input type="text" id="Address" name="Address" required>

            <label for="City">City:</label>
            <input type="text" id="City" name="City" required>

            <label for="ZipCode">ZipCode:</label>
            <input type="number" id="ZipCode" name="ZipCode" required min="0">

            <label for="NumberOfBedrooms">Number of Bedrooms:</label>
            <input type="number" id="NumberOfBedrooms" name="NumberOfBedrooms" required min="0">

            <label for="NumberOfBathrooms">Number of Bathrooms:</label>
            <input type="number" id="NumberOfBathrooms" name="NumberOfBathrooms" required min="0">


            <label for="Rent">Rent:</label>
            <input type="number" id="Rent" name="Rent" required min="0">

            <label for="LandlordId">LandlordID:</label>
            <input type="number" id="LandlordId" name="LandlordId" required min="0">




            <button type="submit" value="SEND">Add</button>
        </form>
    </div>
</body>

</html>