<!-- views/admin_view.ejs -->

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/add_tenant.css">
    <title>Admin Dashboard</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/admin">Dashboard</a>
                    <a href="../landlord">Landlords</a>
                    <a href="../apartment">Apartments</a>
                    <a href="../tenant">Tenants</a>
                    <button onclick="location.href='/home'">Logout</button>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Landlord Information</h2>
        <form action="/admin/landlord/create" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{10}" placeholder="e.g. 0689274315"
                required>

            <button type="submit" value="SEND">Add</button>
        </form>
    </div>
</body>

</html>