<% const title='Admin Dashboard' ; %>
    <%- include('header_admin.ejs', { title: title}) %>

        <div id="panel">
            <h1>Welcome to the Admin Dashboard</h1>

            <div class="container">
                <section id="manage-landlords">
                    <h2>Manage Landlords</h2>
                    <button onclick="location.href='admin/landlord/add'">Add</button>
                    <button onclick="location.href='admin/landlord/edit'">Edit</button>
                    <button onclick="location.href='admin/landlord/delete'">Delete</button>
                </section>

                <section id="manage-properties">
                    <h2>Manage Properties</h2>
                    <button onclick="location.href='admin/property/add'">Add </button>
                    <button onclick="location.href='admin/property/edit'">Edit </button>
                    <button onclick="location.href='admin/property/delete'">Delete</button>
                </section>

                <section id="manage-tenants">
                    <h2>Manage Tenants</h2>
                    <button onclick="location.href='admin/tenant/add'">Add</button>
                    <button onclick="location.href='admin/tenant/edit'">Edit</button>
                    <button onclick="location.href='admin/tenant/delete'">Delete</button>
                </section>
            </div>
        </div>

        </body>

        </html>