<!-- views/admin_view.ejs -->

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/landlord.css">
    <title>Admin Dashboard</title>
</head>

<body>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="../admin">Dashboard</a>
                    <a href="">Landlords</a>
                    <a href="../admin/property">Properties</a>
                    <a href="../admin/tenant">Tenants</a>
                    <button onclick="location.href='/home'">Logout</button>
                </li>
            </ul>
        </nav>
    </header>

    <div id="panel">
        <h1>Landlords</h1>


        <div id="tenant-buttons">
            <button class="action-button add-button" onclick="location.href='../admin/landlord/add'">Add</button>
            <button class="action-button edit-button" onclick="location.href='../admin/landlord/edit'">Edit</button>
            <button class="action-button delete-button"
                onclick="location.href='../admin/landlord/delete'">Delete</button>
        </div>
    </div>

</body>

</html>