<!-- views/auth_view.ejs -->

<html>

<% const title = 'Login'; %>
<%- include('header_user.ejs', { title: title }) %>

<link rel="stylesheet" href="/css/authStyle.css">

<h1>Please Log In</h1>

<div class="login_container">
    <div class="login_form">
        <form class="log" method="post" action="/auth/login">
            <input name="username" type="username" class="form-control" id="username" placeholder="Username"
                required>
            <input name="userpass" type="password" class="form-control" id="password" placeholder="Password"
                required>
            <button type="submit" class="btn btn-dark btn-block">Login</button>
        </form>
    </div>
</div>

<div class="error_message">
    <!-- Displaying the extraContent -->
    <%= extraContent %>
</div>

<div class="link_login">
    <a href="/register/">REGISTER</a> <br />
    <a href="/auth/user">USERS ONLY</a> <br />
    <a href="/auth/admin">ADMINS ONLY</a> <br />
    <a href="/auth/protected">USER LEVEL DEPENDENT AUTO REDIRECT</a> <br />
</div>

<%- include('footer_user.ejs') %>

<script>
    const message = "<%= extraContent %>";
    if (message) {
        alert(message);
    }
</script>
</body>

</html>
