<!-- edit_profile.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% const title='Edit Profile' ; %>
    <%- include('header_user.ejs', { title: title}) %>
</head>

<body>
  <h1>Edit Profile</h1>

  <form action="/profile/edit" method="post">
    <div>
      <label for="username">Username:</label>
      <!-- Ensure user is defined before accessing its properties -->
      <input type="text" id="username" name="username" value="<%= user ? user.user_name : '' %>" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <!-- Ensure user is defined before accessing its properties -->
      <input type="email" id="email" name="email" value="<%= user ? user.user_email : '' %>" required>
    </div>
    <!-- Other input fields for editing user details -->
    <button type="submit">Save Changes</button>
  </form>
  
</body>

<footer>
    <%- include('footer_user.ejs') %>
</footer>

</html>


<style>
    body  {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}


</style>
