<% const title='home_about' ; %>
    <%- include('header_user.ejs', { title: title}) %>
    
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/aboutStyle.css">
    <title>test</title>
</head>

<body>



    <section class="us">
        <div class="heading">
            <h1>About Us</h1>
        </div>
        <div class="container">
            <div class="us-content">
            <h2> Our website</h2>
            <p>At the intersection of home comfort and fulfilling needs, our agency is dedicated to simplifying the search for ideal residences. With us, every roof finds its story, and every tenant discovers their home.
                We are much more than a mere apartment rental agency; we are the craftsmen behind the perfect connection between caring property owners and tenants seeking a place to call home. Our mission is to forge lasting bonds, to transform spaces into living environments, and to realize the dream of a home for each individual.
            </p>
            <button class="cta-button">Learn More</button>
            </div>
            <img class="us-image" src="/img/us.jpeg">

        </div>
    </section>

    <section class="who-we-are">
        <h2>Who Are We?</h2>
        <div class="team-member">
          <img src="/img/Zoe.png" alt="Team Member 1">
          <h3>Zoe</h3>
          <p>Student in EFREI school</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero et sem.</p>
        </div>
        
        <div class="team-member">
          <img src="/img/Raphael.png" alt="Team Member 2">
          <h3>Raphael</h3>
          <p>Student in EFREI school</p>
          <p>Etiam quis metus in libero efficitur fermentum eu ut elit.</p>
        </div>
        <div class="team-member">
          <img src="/img/Jade.png" alt="Team Member 3">
          <h3>Jade</h3>
          <p>Student in EFREI school</p>
          <p>Integer nec enim ac dolor consectetur venenatis.</p>
        </div> 
      </section>

      <section class="our-project">
        <div class="container">
            <img class="us-image" src="/img/Appartement.jpg">
            <div class="us-content">
            <h2> Our project</h2>
            <p>For this project, we collectively decided to choose a subject that would be of mutual interest to us three. Given that we currently share an apartment and vividly remember the challenges of finding a suitable apartment, we arrived at the idea of developing a rental agency database to maybe understand a little about how it works.
                Our experience of sharing living space motivated us to develop a system that could simplify the often tedious processes of searching, managing, and evaluating rentals. We hope that this initiative will not only allow us to gain a better understanding of the rental ecosystem but also make a valuable contribution to others facing similar challenges.
            </p>
            </div>
        </div>
      </section>
     
      <footer>
        <p>&copy; 2023 Rental Agency - All rights reserved</p>
        <p>This is a student project.</p>
      </div>
    </footer>


</body>

</html>