<!-- views/hello_view.ejs -->
<!-- partial view + simple view code to DISPLAY DATA -->
<!-- view does NOT depend on the controller!!! -->
<!-- PHP: smarty, twig ... C#: razor ... Java: JSP -->
<!-- receives: array with the name 'favourites', objects with category+thing -->


<html>
    <head>
        <% const title='Home_user' ; %>
        <%- include('header_user.ejs', { title: title}) %>
        <link rel="stylesheet" href="/css/homeStyle.css">       
    </head>
    <h1>Welcome to the home page</h1>

    <div class="first div"></div>

    <div class="appartmentForm">
        <form action="home/index" method="GET">
            <label for="city">City:</label>
            <select>
                <option value="city">Paris</option>
                <option value="city">Grigny</option>
            </select>

            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" required>

            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" required>

            <label for="rent">Rent:</label>
            <input type="number" id="rent" name="rent" required>

            <button type="submit">Search</button>
        </form>

    </div>

    </body>

</html>


<style>
    
</style>