<!-- profile_user.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% const title='Login_profile' ; %>
    <%- include('header_user.ejs', { title: title}) %>
</head>

<body>
  <h1>
    User profile
  </h1>

  <div class="link_login">
    <a href="/home/logout">LOG OUT</a> <br/>

<%- include('footer_user.ejs') %>
</body>

</html>

<style>
  .link_login {
    text-align: center;
    margin-top: 200 px;
    }

    .link_login a {
        display: block;
        color: black;
        font-weight: bold;
        text-decoration: none; /* Optional: Removes underline from links */
        margin-top: 20%;
    }
</style>