<% const title='Search Results' ; %>
    <%- include('header_user.ejs', { title: title }) %>

        <div class="container">
            <h1>Search Results</h1>


        <%- include('footer_user.ejs') %>