<!-- views/register.ejs -->
<% const title='register' ; %>
    <%- include('header_user.ejs', { title: title}) %>

    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Please register</h1>
                <form action="/register/user/create" method="post">
                    <div class="mb-3">
                        <input type="text" id="username" name="username" class="form-control"
                            placeholder="First Name" required>
                    </div>
                    <div class="mb-3">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                            required>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password" name="password" class="form-control"
                            placeholder="Password" required>
                    </div>
                
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-success btn-lg">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <div class="link_login">
        <a href="/auth/">LOG IN</a> <br/>
        <a href="/auth/user">USERS ONLY</a> <br/>
        <a href="/auth/admin">ADMINS ONLY</a> <br/>
        <a href="/auth/protected">USER LEVEL DEPENDENT AUTO REDIRECT</a> <br/>
    </div>
    
    <%- include('footer_user.ejs') %>

    </body>
</html>

<style>
    .login_container {
        display: flex;
        justify-content: space-around; /* Adjust as needed */
    }

    .login_form {
        width: 45% ; /* Adjust the width of each form container */
        margin: 7%;
        align-items: center;
    }

    .log input {
        margin-bottom: 5%;

    }

    .link_login {
    text-align: center;
    margin-top: 200 px;
    }

    .link_login a {
        display: block;
        color: black;
        font-weight: bold;
        text-decoration: none; /* Optional: Removes underline from links */

    }


</style>
